@font-face {
    font-family: 'Raleway';
    src: url("../fonts/MontserratAlternates-Regular.ttf");
    font-weight: 300;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/MontserratAlternates-Light.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/MontserratAlternates-SemiBold.ttf");
    font-weight: 600;
}

.landing {
    margin-top: 25%;
    padding-bottom: 25%;
}

.side-image {
    max-height: 250px;
}

.mobile-nav {
    margin-top: 50px;
    display: block;
}

.hash {
    color: #33c3f0;

}

.menu {
    visibility: hidden;
}

.about-image {
    max-height: 200px;
    margin-top: 10rem;
}

.message-button {
    display: none;
    margin-left: 16px;
}

.alt-section {
    background-color: #f1f1f1;
}

.grid-item img {
    padding: 3rem;
}

/** Screens larger than 750px **/

@media (min-width: 550px) {
    .about-image {
        margin-top: 10rem;
        display: block;
    }
}

@media (min-width: 750px) {
    .menu {
        visibility: visible;
    }

    .mobile-nav {
        display: none;
    }

    .about-image {
        margin-top: 14rem;
        max-height: 250px;
    }

    .landing {
        margin-top: 25%;
        padding-bottom: 12rem;
    }
    
    .grid-item {
        padding-left: 6rem;
        padding-right: 6rem;
        padding-top: 6rem;
    }
    
    .grid-item img {
        padding: 4rem;
    }
}

@media (min-width: 1000px) {
    .about-image {
        margin-top: 22rem;
        display: block;
    }

    .message-button {
        display: block;
    }
}

/* Navigation */
nav {
    border-bottom: solid 1px #eee;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 1000;
    display: block;
}


/** Footer */
footer {
    margin-top: 5rem;
}

.footer-main {
    border-top: solid 1px #e3e3e3;
    padding-top: 16px;
    z-index: 1000;
}

/*Strip the ul of padding and list styling*/
.nav-items {
    list-style-type:none;
    margin-bottom:0;
    padding:0;
    position: absolute;
}

/*Create a horizontal list with spacing*/
.nav-items li {
    display:inline-block;
    float:  left;
    position: relative;
    margin-right: 1px;
    margin-top: 0.5rem;

}

/*Style for menu links*/
.tab {
    display:block;
    min-width:80px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    margin-bottom: 0;
}


/** Logo */
.brand-logo {
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.landing-container {
    background-color: #33C3F0;
}

.prefooter {
    background-color: #273443;
    padding-top: 16px;
}

.prefooter ul {
    list-style: none;
}

.prefooter a {
    text-decoration: none;
    color: white;
}

.prefooter li {
    line-height: normal;
}

.prefooter-header {
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(255,255,255,0.6);
}